<section class="no-padding" id="about">
    <!-- <div class="container"> -->
    <div class="row" style="display:flex">


        <div class="col-md-6" id="m_france">
            <div class="col-md-8 col-md-offset-2 text-center">
                <img src="img/xiangrikui.png" class="img-responsive col-xs-11 col-xs-offset-1" alt="">
                <h2 class="section-heading">Steve ♥ Emilie</h2>
                <hr class="light">
                <p class="text-faded" style="height:250px">Nous avons l'immense plaisir de vous inviter à notre mariage, qui aura lieu le samedi 5 août à l'église de ... Un vin d'honneur sera servi à la suite de la cérémonie dans le jardin de ...<br/>
                    Merci de nous confirmer votre présence avant <br/><b>le 05 Juillet 2017</b><br/>
                    <div class="col-xs-12"><a href="#" class="btn btn-default btn-xl">Participer!</a></div>
                    
                </div>
            </div>

            <div class="col-md-6" id="m_chine">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <img src="img/fleur_chine4.png" class="img-responsive  col-xs-11 col-xs-offset-1" alt="">
                    <h2 class="section-heading">金育竹 ♥ 王晓林</h2>
                    <hr class="light">
                    <p class="text-faded"  style="height:250px">喜今日赤绳系定，珠联璧合。<br/>
                        卜他年白头永偕，桂馥兰馨。<br/>
                        <br>
                        10月22日 - 中国青岛平度 <br/> 10月28日 - 中国辽宁抚顺</p>
                        <div class="col-md-6">
                            <a href="#" class="btn btn-default btn-xl ">我要去青岛!</a>
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="btn btn-default btn-xl ">我要去抚顺!</a>
                        </div>
                        
                    </div>
                </div>
            </div>


        </div>
        <!-- </div> -->
    </section>
