<section class="no-padding" id="about">
    <!-- <div class="container"> -->
    <!-- <div style="display:flex"> -->


    <div class="col-md-6" id="m_france">
        <div class="col-md-8 col-md-offset-2 text-center">
            <img src="img/xiangrikui.png" class="img-responsive col-xs-11 col-xs-offset-1" alt="">
            <h2 class="section-heading">Steve ♥ Emilie</h2>
            <hr class="light">
            <p class="text-faded" style="font-size:13px;">Nous avons l'immense plaisir de vous inviter à notre mariage, qui aura lieu <b>le dimanche 6 août</b> à l'église de Jacou <span style="font-size:11px;">(Centre oecuménique, Rue Jean-Sébastien Bach 34840 Jacou)</span>. Un repas sera servi à la suite de la cérémonie dans le restaurant du Poisson Rouge <span style="font-size:11px;">(32 Rue Paul Riquet, 34110 Frontignan)</span>.</br>Merci de nous confirmer votre présence avant <b>le 15 Juillet 2017</b>
            </p>
            <div class="col-xs-12"><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdMm9fnz1QyN6TKTdMsoo6K3upRYMWpxqUGuUm6WbSNyLGjfg/viewform?usp=sf_link" class="btn btn-default  btn-lg">Participer!</a></div>

        </div>
    </div>

    <div class="col-md-6" id="m_chine">
        <div class="col-md-8 col-md-offset-2 text-center">
            <img src="img/fleur_chine4.png" class="img-responsive  col-xs-11 col-xs-offset-1" alt="">
            <h2 class="section-heading">金育竹 ♥ 王晓林</h2>
            <hr class="light">
            <p class="text-faded">喜今日赤绳系定，珠联璧合。<br/>
                卜他年白头永偕，桂馥兰馨。<br/>
                <br>
                10月22日 - 中国青岛平度 <br/> 10月28日 - 中国辽宁抚顺
            </p>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <a href="#" class="btn btn-default btn-lg">去青岛!</a>
            </div>
            <div class="col-md-5">
                <a href="#" class="btn btn-default  btn-lg">去抚顺!</a>
            </div>
        </div>
    </div>
    <!-- </div> -->
</section>
