<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>How sweet it is to be loved by you!</h1>
            <hr>
            <p>
            	<div class="col-sm-6">
                    How sweet it is to be loved by you!<br/>
                    How sweet it is to be loved by you!<br/>
                    How sweet it is to be loved by you!<br/>
                    How sweet it is to be loved by you!
                </div>
                <div class="col-sm-6">
                    9年前我们相识，8年前我们相爱，7年前我们携手外出留学；<br/>
                    相恋9年，异地2年，而如今我们要携手走过更长更久的人生路。<br/>
                    2017年8月5日，是结束一段长跑，也是开始一段奇异的旅程...<br/>
                    以爱之名，启程!
                </div>
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
