<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>How sweet it is to be loved by you!</h1>
            <hr>
            <p>
            	<div class="col-sm-6">
                    How sweet it is to be loved by you!<br/>
                    How sweet it is to be loved by you!<br/>
                    How sweet it is to be loved by you!<br/>
                    How sweet it is to be loved by you!
                </div>
                <div class="col-sm-6">
                    <b>
                        九年前你我相识于人海之中，<br/>
                        八年前我们走在一起，<br/>
                        七年前你我远渡重洋，<br/>
                        高山低谷一路走来，且行且歌
                    </b>
                </div>
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
