<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>How sweet it is to be loved by you!</h1>
            <hr>
            <p>
            	<div class="col-sm-6">
                    <b>Tu es le soleil dans ma journée,</b><br/>
                    <b>le vent dans mon ciel, </b><br/>
                    <b>les vagues de mon océan,</b><br/>
                    <b>et le battement de mon cœur.</b> 
                </div>
                <div class="col-sm-6">
                    <b>当你笑起来的时候，</b><br/>
                    <b>整个星空都跟着亮了起来。</b><br/>
                    <b>高山低谷一路走来，</b><br/>
                    <b>我们只管且行且歌。</b>
                </div>
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
