#about{
	min-height: 100vh;
	#m_france{
		background-color:#c6d4fb;
		padding-bottom:20px;
		p{
			color:#8D5427;
		}
		.btn{
			font-weight:700;
			font-size:15px;
		}
	}
	#m_chine{
		background-color:#ffd5b7;
		padding-bottom:20px;
		p{
			//color:#4D0477;
			color:#5951CD;
		}		
		.btn{
			font-weight:700;
			font-size:15px;
		}
	}
}
